    <div id="content">
        <div class="boxes">
            <div class="src">
                <div class="header">
                    <div
                        class="dropdown"
                        data-bind-to="srcLang"
                        data-options-collection="availableSrcLangs">
                        <span class="selection">زبان مبدأ</span>
                        <span>&nbsp;&nbsp;▾</span>
                        <div class="options"></div>
                    </div>
                </div>
                <div 
                    class="content <%= dic.show && 'one-line' %> <%= dic.show && (dic.dir === "rtl" ? 'rtl' : 'ltr')%>"
                    contenteditable="true"
                    placeholder="لطفا متن مورد نظر را وارد نمایید."
                    data-bind-to="srcText"><%= srcText ? srcText : '' %></div>
                <div class="usage-report">۰/۵۰۰۰</div>
                <div class="controls">
                    <ul>
                        <li><a data-action="clearSource" class="toolbar-button" href="#"><img src="./img/icon/clear.png" alt="clear"/></a></li>
                    </ul>
                </div>
            </div><!--
            --><div class="separator"></div><!--
            --><div class="tgt">
                <div class="header">
                    <div
                        class="dropdown"
                        data-bind-to="tgtLang"
                        data-options-collection="availableTgtLangs">
                        <span class="selection">زبان مقصد</span>
                        <span>&nbsp;&nbsp;▾</span>
                        <div class="options"></div>
                    </div>
                    <div class="separator"></div>
                    <div
                        class="button disabled"
                        data-enabled-if="srcText"
                        data-action="translate">ترجمه‌کن!</div>
                    <div class="translator-busy busy"><div class="box b0"></div><div class="box b1"></div><div class="box b2"></div></div>
                </div>
                <div class="content <%= dic.show && 'one-line' %>  <%= dic.show && (dic.dir === "rtl" ? 'ltr' : 'rtl')%>"><%= tgtText %></div>
                <div class="controls">
                    <ul>
                        <li><a data-action="copyTranslationResult" class="toolbar-button" href="#"><img src="./img/icon/copy.png" alt="copy"/></a></li>
                        <li><a data-action="voteUpTranslation" data-visible-if-not="proposingNewTranslationMode" class="toolbar-button" href="#"><img src="./img/icon/thumb-up.png" alt="like"/></a></li>
                        <li><a data-action="voteDownTranslation" data-visible-if-not="proposingNewTranslationMode" class="toolbar-button" href="#"><img src="./img/icon/thumb-down.png" alt="down"/></a></li>
                        <li><a data-action="proposeNewTranslation" data-visible-if-not="proposingNewTranslationMode" class="toolbar-button" href="#"><img src="./img/icon/pencil.png" alt="edit"/></a></li>
                        <li><a data-action="acceptNewTranslation" data-visible-if="proposingNewTranslationMode" class="toolbar-button" href="#"><img src="./img/icon/tick.png" alt="edit"/></a></li>
                        <li><a data-action="cancelNewTranslation" data-visible-if="proposingNewTranslationMode"class="toolbar-button" href="#"><img src="./img/icon/clear.png" alt="edit"/></a></li>
                    </ul>
                </div>
                <div class="metadata">
                    ترجمه شده با موتور
                    <span class="engine emphasized">محاوره</span>
                    در
                    <span class="translation-time emphasized">۰.۰۴۲۴</span>
                    ثانیه
                </div>
            </div>
        </div>
        <div class="dic-result <%= dic.show && 'full' %>" style="<%= dic.show && 'display:block' %>">
            <a style="display:none" href="/d/<%= dic.prevEntry %>" title="دیکشنری">
            <div class="abadis">دیکشنری با کمک <a href="https://dictionary.abadis.ir/" target="_blank"><img src="./img/logo/abadis-w.svg" alt="abadis" /></a></div>
            <h2><span class="src"><%= dic.key %></span> در دیکشنری</h2>
            <hr/>
            <div class="part dic-part-1">
                <div class="means" style="<%= dic.pronounce ? '' : 'display:none' %>">
                    <h2>معنی‌های <span class="src"><%= dic.key %></span></h2>
                    <p class="mean"><%- dic.mean.map(w=>`<a href="#${w.replace(/"/g,'')}">${w}</a>`).join(dic.dir === 'rtl' ? ', ':'، ') %></p>
                    <div class="pron">
                        <div class="uk"><img src="img/icon/UK.svg"><span><%= dic.pronounce && dic.pronounce.uk %></span></div>
                        <div class="us"><img src="img/icon/USA.svg"><span><%= dic.pronounce && dic.pronounce.us %></span></div>
                    </div>
                </div>
                <section class="synonym" style="<%= dic.synonyms ? '' : 'display:none' %>">
                  <h2>مترادف‌های <span class="src"><%= dic.key %></span></h2>
                  <table>
                      <tr><th>معنی</th><th>نقش</th><th>کلمات</th></tr>
                      <% var i=1; for(var word in dic.synonyms) {  %>
                          <% for(var pos in dic.synonyms[word]) { i++%>
                            <tr class="<%= i%2 ? 'even':'odd' %>">
                                <td class="<%= dic.dir === 'rtl' ? 'ltr':'rtl' %>"><%- (w=>`<a href="#${w}">${w}</a>`)(word) %></td>
                                <td><%= pos %></td>
                                <td class="<%= dic.dir %>"><%- dic.synonyms[word][pos].map(w=>`<a href="#${w.replace(/"/g,'')}">${w}</a>`).join(dic.dir === 'rtl' ? '، ':', ') %></td>
                            </tr>
                      <% }} %>
                  </table>
                </section>
                <section class="antonym" style="<%= dic.antonyms ? '' : 'display:none' %>">
                  <h2>متضادهای <span class="src"><%= dic.key %></span></h2>
                  <table>
                      <tr><th>معنی</th><th>نقش</th><th>کلمات</th></tr>
                      <% var i=1; for(var word in dic.antonyms) {%>
                          <% for(var pos in dic.antonyms[word]) { i++%>
                            <tr class="<%= i%2 ? 'even':'odd' %>">
                                <td class="<%= dic.dir === 'rtl' ? 'ltr':'rtl' %>"><%- (w=>`<a href="#${w}">${w}</a>`)(word) %></td>
                                <td><%= pos %></td>
                                <td class="<%= dic.dir %>"><%- dic.antonyms[word][pos].map(w=>`<a href="#${w.replace(/"/g,'')}">${w}</a>`).join(dic.dir === 'rtl' ? '، ':', ') %></td>
                            </tr>
                      <% }} %>
                  </table>
                  <hr>
                </section>
                <section class="examples" style="<%= dic.examples ? '' : 'display:none' %>">
                  <h2>مثال‌هایی از <span class="src"><%= dic.key %></span></h2>
                  <ul>
                      <% if(dic.examples) for(var i=0; i<dic.examples.length;i++) {%>
                        <li class="source"><%- (w=>`<a href="#${w.replace(/"/g,'')}">${w}</a>`)(dic.examples[i][0]) %></li>
                        <li class="translation"><%- (w=>`<a href="#${w.replace(/"/g,'')}">${w}</a>`)(dic.examples[i][1]) %></li>
                        <li class="separator"></li>
                      <% } %>
                  </ul>
                </section>
            </div><!--
            --><div class="separator"></div><!--
            --><div class="part dic-part-2">
                <div class="vocabcoding" style="<%= dic.vc ? '' : 'display:none' %>" >
                  <a href="http://vocabcoding.com/" target="_blank"><img src="<%= dic.vc && 'https://targoman.ir/vc/'+dic.vc %>"></a>
                  <a class="copyright" href="https://www.instagram.com/vocab.coding/" target="_blank">تصویر برگرفته از: <img src="img/logo/vocab-coding.svg"></a>
                </div>
                <section class="relword" style="<%= dic.relwords ? '' : 'display:none' %>">
                  <h2>کلمات مرتبط با <span class="src"><%= dic.key %></span></h2>
                  <ul>
                      <% for(var word in dic.relwords) {%>
                        <li class="source"><%- (w=>`<a href="#${w}">${w}</a>`)(word) %></li>
                        <ul><li class="translation"><%- dic.relwords[word].map(w=>`<a href="#${w.replace(/"/g,'')}">${w}</a>`).join(dic.dir === 'rtl' ? ', ':'، ') %></li></ul>
                        <li class="separator"></li>
                      <% } %>
                  </ul>
                </section>
                <section class="relexp" style="<%= dic.related ? '' : 'display:none' %>">
                  <h2>عبارت‌های مرتبط با <span class="src"><%= dic.key %></span></h2>
                  <ul>
                      <% for(var word in dic.related) {%>
                        <li class="source"><%- (w=>`<a href="#${w.replace(/"/g,'')}">${w}</a>`)(word) %></li>
                        <ul>
                        <% for(var i=0; i<dic.related[word].length; ++i) { %>
                            <li class="translation"><%- (w=>`<a href="#${w.replace(/"/g,'')}">${w}</a>`)(dic.related[word][i]) %></li>
                        <% } %>
                        </ul>
                        <li class="separator"></li>
                      <% } %>
                  </ul>
                </section>
            </div>
            <br/>
            <br/>
            <div class="show-more">
                <div class="arrow <%= !dic.show && 'down' %>"></div>
            </div>
        </div>
        <div class="ads">
            <div class="text">
            <h2>تبلیغات</h2>
            <hr/>
                <a href="#">
                    <h2 class="ad-title">خودت هر مقاله‌ای رو ترجمه کن!</h2>
                    <p class="ad-desc">
                        مهم نیست زبانت چقدر خوبه، هر مقاله‌ی تخصصی رو میتونی با <span style="color:blue">#ترجمیار</span> ترجمه کنی. آزمایشش تا ۲۰۰۰ کلمه رایگانه!
                    </p>
                    <p class="ad-link">https://www.tarjomyar.ir</p>
                </a>
            </div><!--
            --><div class="separator"></div><!--
            --><div class="graphical" style="<%= dic.show && 'display:none' %>">
                <div class="slider">
                    <div class="item">
                        <a href="http://tarjomyar.ir" target="_blank"><img src="./img/ads/tarjomyar0.png" alt="ترجمیار - سریع، آسان، کم‌هزینه، خودت ترجمه کن!" /></a>
                    </div><!--
                    --><div class="item">
                        <a href="https://www.tarjomano.com/" target="_blank"><img src="./img/ads/tarjomano.png" alt="ترجمانو - ترجمه‌ی انسانی و با کیفیت" /></a>
                    </div><!--
                    --><div class="item">
                        <a href="http://tarjomyar.ir/test.html" target="_blank"><img src="./img/ads/tarjomyar1.png" alt="ترجمیار - سریع، آسان، کم‌هزینه، خودت ترجمه کن!" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="notification"><span class="close-icon">X</span><h2></h2><p></p></div>
    <div class="engine-desc informal">
        <h2>موتور ترجمه‌ی محاوره</h2>
        <p>موتور محاوره ترجمه  <b>ترگمان</b> یک موتور ترجمه‌ماشینی نورونی مبتنی بر الگوریتم‌های یادگیری ژرف است که با استفاده از پیکره متنی با بیش از ۳۰ میلیون کلمه متن انگلیسی ترجمه‌شده به فارسی آموزش دیده است. بخش عمده این پیکره شامل زیرنویس فیلم‌ها است و مجموعه‌ای از رمان‌ها، و داستان‌های ترجمه‌شده نیز در این پیکره گردآوری‌شده‌اند. <br> تا کنون علاوه بر موتور ترجمه، بیش از ۱۲ میلیون کلمه متن این پیکره نیز به صورت متن‌باز منتشر شده و از طریق سایت <a href="http://parsigan.ir" target="_blank">پارسیگان</a> در اختیار محققین قرار گرفته است. </p>
        <p>از آنجایی که زبان محاوره فارسی بسیار متفاوت از زبان رسمی است موتور ترجمه محاوره به صورت کاملا مستقل از موتور رسمی آموزش داده شده در ابتدای درخواست شما رسمی یا محاوره بودن متن به صورت خودکار توسط سیستم شناسایی شده و مناسب‌ترین موتور برای آن انتخاب می‌شود.</p>
        <p>از آن‌جایی که در موتور‌های ترجمه نورونی حجم پیکره آموزش‌داده‌شده به ماشین یکی از مهمترین شاخصه‌های افزایش کیفیت استاز همه علاقمندان و مترجمین درخواست‌ می‌کنیم تا ما را در افزایش کیفیت این موتور یاری کنند.</p>
        <br/>
        <center><a href="mailto://oss@targoman.com" target="_blank">oss@targoman.com</a></center>
        <br/>
    </div>
    <div class="engine-desc formal">
        <h2>موتور ترجمه‌ی رسمی</h2>
        <p>موتور رسمی ترجمه ترگمان یک موتور ترجمه‌ماشینی نورونی مبتنی بر الگوریتم‌های یادگیری ژرف است که با استفاده از پیکره متنی با بیش از ۶۵ میلیون کلمه متن انگلیسی ترجمه‌شده به فارسی آموزش دیده است. بخش عمده این پیکره شامل اخبار گردآوری و ترجمه‌شده از خبرگزاری‌های معتبر نظیر cnn، bbc، reuters و مجلات خارجی در طول سال‌های ۲۰۱۰ تا ۲۰۱۲ گردآوری شده است. بخش دیگری از این پیکره با انتخاب جملات ترجمه‌شده از سایت ویکی‌پدیا آماده شده و بخشی دیگر از آن به مقالات علمی و تخصصی اختصاص داده‌شده است.</p>
        <p>تا کنون علاوه بر موتور ترجمه، بیش از ۲۵ میلیون کلمه متن این پیکره نیز به صورت متن‌باز منتشر شده و از طریق سایت پارسیگان در اختیار محققین قرار گرفته است.</p>
        <p>از آن‌جایی که در موتور‌های ترجمه نورونی حجم پیکره آموزش‌داده‌شده به ماشین یکی از مهمترین شاخصه‌های افزایش کیفیت است از همه علاقمندان و مترجمین درخواست‌ می‌کنیم تا ما را در افزایش کیفیت این موتور یاری کنند.</p>
        <br/>
        <center><a href="mailto://oss@targoman.com" target="_blank">oss@targoman.com</a>
    </div>
    <div class="engine-info time">
        <h2>زمان ترجمه</h2>
        <p>ترجمه‌ی متنی که وارد کردید <span class="total-time"></span> ثانیه طول کشیده است. این یعنی بطور متوسط <span class="time-per-word"></span> ثانیه برای هر کلمه زمان سپری شده است.</p>
        <p>با این حساب، ترجمه‌ی یک پست از یک وبلاگ خارجی (که حدوداً ۵۰۰ کلمه دارد) مجموعاً <span class="time-per-500words"></span> ثانیه طول می‌کشد. این را با یک مترجم انسان مقایسه کنید!</p>
        <p>با کمک ماشین شما هم می‌توانید با سرعتی بیش از سرعت یک مترجم حرفه‌ای ترجمه‌های باکیفیت قابل‌قبول داشته باشید. کافیست از سرویس کمک مترجم <a href="http://tarjomyar.ir">«ترجمیار»</a> استفاده کنید و خودتان ترجمه کنید</p>
    </div>
    <div id="mobile_overlay">
        <div class="container">
            <h2>برنامک ترگمان!</h2>
            <p>برای سهولت بیشتر در استفاده از ترگمان، می‌توانید از برنامک آن استفاده کنید.</p>
            <br/>
            <ul>
                <li><a href="#" class="hide-on-click">نخیر! از وبسایت استفاده می‌کنم.</a></li>
                <li><br/></li>
                <!--<li><a href="https://play.google.com/store/apps/details?id=com.anonycoders.targoman"><img src="./img/logo/play-store.png" alt="Google Play" /></a></li>-->
                <li><a href="https://cafebazaar.ir/app/com.anonycoders.targoman/?l=fa"><img src="./img/logo/cafe-bazaar.png" alt="Cafe Bazaar" /></a></li>
                <li><a href="https://myket.ir/app/com.anonycoders.targoman/download"><img src="./img/logo/myket.png" alt="Myket" /></a></li>
            </ul>
        </div>
    </div>
    <script src="/bundle.js?r=<%= Math.random() %>"></script>
